body{
    font-family:"Helevtica";
    background-image:radial-gradient(#999,#fff);
}
#sence{
    width:600px;
    height:600px;
    margin:20px auto;
    background-image:linear-gradient(#aaa,#ccc,#aaa);
    border-right:none;
    border-bottom:none;
    position:relative;
    box-shadow:0 0 12px black;
}
#tips{
    width:100%;
    heigth:100%;
    position:absolute;
    top:0;
    left:0;
    z-index:100;
    text-align:center;
    line-height:600px;
    display:none;
    background:rgba(0,0,0,0.4);
    color:white;
}

.block{
    width:30px;
    height:30px;
    float:left;
    margin:5px;
    border-radius:50%;
    position:relative;
    z-index:1;
}
.black{
    background:black;
    background-image:radial-gradient(#555,#000);
    box-shadow:0 1px 3px black;
}
.white{
    background:white;
    background-image:radial-gradient(#fff,#fff);
    box-shadow:0 1px 3px black;
}
.current{
    background-image:radial-gradient(#ccc,#fff);
}
.row,.col{
    position:absolute;
}
.row{
    border-bottom:1px solid black;
    width:560px;
    height:0;
    left:20px;
}
.col{
    border-right:1px solid black;
    width:0;
    height:560px;
    top:20px;
}
.star{
    width:6px;
    height:6px;
    border-radius:50%;
    background:black;
    position:absolute;
}
.star1{
    top:137px;
    left:137px;
}
.star2{
    top:137px;
    right:137px;
}
.star3{
    bottom:137px;
    left:137px;
}
.star4{
    bottom:137px;
    right:137px;
}
.star5{
    top:298px;
    left:298px;
}