a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block}
body {line-height: 1}
ol, ul {list-style: none}
.sense{
    width:600px;
    height:600px;
    margin:20px auto;
    background:#d4b788;
    border-right:none;
    border-bottom:none;
    position:relative;
    box-shadow:0 0 12px black;
}
.block{
    float:left;
    margin-right:1px;
    margin-bottom:1px;
    border-radius:50%;
    position:relative;
    z-index:8884;
}
.row,.col{
    background:#444;
    position:absolute;
}
.row{
    width:600px;
    height:1px;
}
.col{
    width:1px;
    height:600px;
}